#header
  %a.nopadding{ :href => "/", :style => 'width: 80px' }
    %img{ :src => '/images/monkeyshines_logo.png', :alt => '' }
  <a href="/this"     >This</a>
  <a href="/that"     >That</a>
  <a href="/theother" >The Other</a>
%br.clear
