#header
  %a.nopadding{ :href => "#{URL_BASE}", :style => 'width: 80px' }
    %img{ :src => '/images/monkeyshines_logo.png', :alt => '' }
  <a href="#{URL_BASE}/this"     >This</a>
  <a href="#{URL_BASE}/that"     >That</a>
  <a href="#{URL_BASE}/theother" >The Other</a>
%br.clear
