#header
  %a.nopadding{ :href => "/", :style => 'width: 80px' }
    %img{ :src => '/images/monkeyshines_logo.png', :alt => '' }
  <a href="/emr/list" >Show Jobs</a>
  <a href="/emr/run"     >Run Job (careful!)</a>
%br.clear
